/* Custom Scrollbar Styles */
.add-custom-scrollbar {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.add-custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.add-custom-scrollbar::-webkit-scrollbar-thumb {
  // make it transparent for now ultil i figure out how to fix the padding top bottom right
  background: white;
  border-radius: 10px;
}