/* Custom Scrollbar Styles */
.add-custom-scrollbar {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.add-custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.add-custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 64px;
  margin-bottom: 64px;
}

.add-custom-scrollbar::-webkit-scrollbar-thumb {
  background: white; /* Transparent for testing */
  border-radius: 10px;
}
