@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";

body {
  font-family: 'Inter', sans-serif;
}

/* i added this to display `` correctly with markdown because of clash with TailwindCSS*/
.prose code::before,
.prose code::after {
  content: none !important;
}
.prose code:not(pre code) {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2em 0.3em;
  border-radius: 0.25rem;
  font-weight: 600;
  color: inherit;
}

.prose pre {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}
